div#slide[data-index="4"] {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    h1 {
        margin-bottom: 2em;
    }

    & > :first-child {
        align-self: flex-end;
        margin-bottom: 1em;
    }

    & > div.infobox {
        margin-left: 20%;
        grid-column: 1;
    }

    & > div#placeholder-column {
        grid-column: 2;
        grid-row: 1 / -1;
    }

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;

        & > div.infobox {
            margin: 0 20%;
        }

        h1 {
            margin-bottom: 1em;
        }
    }

    @media screen and (max-width: 650px) {

        & > div.infobox {
            margin: 0 10%;
        }
    }
}